html {
  min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif!important;
    overflow: visible;
    height: auto;
    margin: 0;
    padding: 0;

    
  }


  

.login-form {
    width: 30%;
    padding: 2rem;
}


.prev-button {
  background: #FCEA66;
  font-weight: bold;
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;
}

.page-title{
  font-size: 3em;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}



.banner-container {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 100%;
  background-image: url('../images/truck-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;

}

.banner-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
}

.sidebar-banner-container {

  position: absolute;
  top: 0;
  height: 20vh;
  width: 100%;
  background-image: url('../images/truck1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;

}

.sidebar-banner-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.3);
}